/*.redius{
    -fx-background-radius: 50px;
}*/
/*/* combo-box.css */
/*.combo-box {
    -fx-prompt-text-fill: transparent;  / * Set the color of the prompt text * /
   /* -fx-font-weight: transparent;       /* Make the prompt text bold */
/*}*//*.table-view .column-header-background {
       -fx-opacity: 0;
   }
   .table-view .column-header {
       -fx-opacity: 0;
       -fx-background-color: transparent;
   }*/
   .table-row-cell {
       -fx-background-color: transparent;
   }
   .table-view .column-header .label {
       -fx-font-size: 18px;
       -fx-font-family: 'Montserrat';
       -fx-font-weight: bold;
       -fx-alignment: center;
       -fx-text-fill: white;
       -fx-background-color: #384E6A;
   }
   .table-view {
       -fx-column-border-visible: false;  /* Hide vertical column borders */
       -fx-table-cell-border-color: transparent;  /* Hide cell borders */
       -fx-border-color: transparent;              /* Optional: Hide outer border */
   }
   // To hide the vertical lines that exist among the table columns
   .no-border .table-row-cell {
       -fx-border-color: transparent;
       -fx-border-width: 0 0 1 0; /* Only show horizontal lines (bottom border) */
   }
   .no-border .table-cell {
       -fx-border-color: transparent; /* Remove cell borders */
   }